@(level:Int, gameContext: fr.xebia.xke.akka.game.GameContext, restartRoute:play.api.mvc.Call)(content: Html)(implicit request: RequestHeader)

@main("Devoxx Akka workshop")(level,Some(restartRoute))(Some(gameContext.airport)){
<script src="/assets/javascripts/game.js" type="text/javascript"></script>

<div id="score">
    <h1 style="text-align: right;">Score <p id="counter"></p></h1>
    <div class="progress progress-success progress-striped">
        <div class="bar" style="width: 0%;"></div>
    </div>
</div>

@content

<script>
    window.game.init('@routes.Application.events(gameContext.airport.code,gameContext.sessionId).webSocketURL()');

</script>
}
