@(settings: fr.xebia.xke.akka.airport.Settings)

@game(4){

<table id='strips'>
    <thead>
    <tr>
        <th class="header active">
            <a href="#"
               title="Incoming"
               data-toggle="popover"
               data-content="@settings.planeGenerationInterval millis between each plane and @settings.outOfKerozenTimeout millis before a plane beiing out of kerozen"
               data-intro='Now radio communication with planes is fuzzy. Some orders may not be received by planes. Controllers should received <b>Ack</b> messages after each order. They <b>should repeat</b> the message until successfully received. You should use the pattern Actor per request.'
               data-step='1'>Incoming</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Runway"
               data-toggle="popover"
               data-content="@settings.nrOfRunways runways with @settings.landingMaxDuration  millis max to land">Runway</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Taxiway"
               data-toggle="popover"
               data-content="@settings.nrOfTaxiways taxiways with a capacity of @settings.taxiwayCapacity planes and @settings.taxiingDuration millis max to taxi">Taxiway</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Gate"
               data-toggle="popover"
               data-content="@settings.nrOfGates gates and @settings.unloadingPassengersMaxDuration millis to unload passengers">Gate</a>
        </th>
        <th class="header">Done</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="modal hide fade" id="GameEnded">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTqpTcRmT_eRzP2oH-ClUTgoy2MdBsZzygCKvKq1xpIW3J8T51u" class="img-polaroid">

        <p>You mastered the game! Congratulation!!!!</p>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

}