@(gameContext: fr.xebia.xke.akka.game.GameContext)(implicit request: RequestHeader)

@game(6,gameContext){

<table id='strips'>
    <thead>
    <tr>
        <th class="header active">
            <a href="#"
               title="Incoming"
               data-toggle="popover"
               data-content="@gameContext.settings.planeGenerationInterval millis between each plane and @gameContext.settings.outOfKerozenTimeout millis before a plane beiing out of kerozen">Incoming</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Runway"
               data-toggle="popover"
               data-content="@gameContext.settings.nrOfRunways runways with @gameContext.settings.landingMaxDuration  millis max to land">Runway</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Taxiway"
               data-toggle="popover"
               data-content="@gameContext.settings.nrOfTaxiways taxiways with a capacity of @gameContext.settings.taxiwayCapacity planes and @gameContext.settings.taxiingDuration millis max to taxi">Taxiway</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Gate"
               data-toggle="popover"
               data-content="@gameContext.settings.nrOfGates gates and @gameContext.settings.unloadingPassengersMaxDuration millis to unload passengers"
               data-intro='Welcome to the chaos monkey level. Some monkeys will eventually shoot your instance. Use Persistence to be fault tolerant and be able to restart in the middle of a game session.'
               data-step="1">Gate</a>
        </th>
        <th class="header">Done</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="modal hide fade" id="GameOver">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTWy_nDEGPAkcXKSwy85J0fw90r_QxDBQzzBZSIb6JEtjUCbi_v"
             class="img-polaroid">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <form action="@routes.Application.createLevel6(gameContext.airport.code)" method="POST" class="form-inline">
            <button type="submit" class="btn btn-primary">Retry</button>
        </form>
    </div>
</div>
<div class="modal hide fade" id="GameEnded">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTqpTcRmT_eRzP2oH-ClUTgoy2MdBsZzygCKvKq1xpIW3J8T51u" class="img-polaroid">

        <p>You mastered the game! Congratulation!!!!</p>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

}