@(gameContext: fr.xebia.xke.akka.game.GameContext)(implicit request: RequestHeader)

@game(0,gameContext,Some(routes.Application.createLevel0(gameContext.airport.code))){

<table id='strips'>
    <thead>
    <tr>
        <th class="header active">
            <a href="#"
               title="Incoming"
               data-toggle="popover"
               data-content="@gameContext.settings.planeGenerationInterval millis between each plane and @gameContext.settings.outOfKerozenTimeout millis before a plane beiing out of kerozen"
               data-intro='Hey there! Here is the list of incoming planes. There is <b>@gameContext.settings.planeGenerationInterval millis</b> between each plane. They need to be told to <b>land on a runway</b>!'
               data-step='1'>Incoming</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Runway"
               data-toggle="popover"
               data-content="@gameContext.settings.nrOfRunways runways with @gameContext.settings.landingMaxDuration millis max to land"
               data-intro='Here stays landed planes until there are asked to contact ground control. There is <b>@gameContext.settings.nrOfRunways runways</b> with <b>@gameContext.settings.landingMaxDuration millis</b> max to land. Here planes need to be told to <b>contact ground control</b>.'
               data-step='2'>Runway</a>
        </th>
        <th class="header inactive"
            data-intro="This part is managed by the server. Taxiway are a queues that lead to gates. They have a fixed capacity and plane takes some times to transit through it."
            data-step='3'>Taxiway</th>
        <th class="header inactive"
            data-intro="Boarding gates are the place where planes unboard passengers. They spend a long time on it! This is also managed by the server."
            data-step='4'>Gate</th>
        <th class="header">
            <a href="#"
               title="Done"
               data-intro='List of planes successfully landed. Now set your client airport code with <em>set airport in client := <strong>"@gameContext.airport.code"</strong></em>. Then launch <em>start-client</em> in the SBT interactive console.'
               data-step='5'>Done</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="modal hide fade" id="GameOver">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="/assets/images/haha.jpeg"
             class="img-polaroid">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <form action="@routes.Application.createLevel0(gameContext.airport.code)" method="POST" class="form-inline">
            <button type="submit" class="btn btn-primary">Retry</button>
        </form>
    </div>
</div>
<div class="modal hide fade" id="GameEnded">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="/assets/images/hellyeah.jpeg" class="img-polaroid">

        <p>Well done!</p>

    </div>
    <div class="modal-footer">
        <form action="@routes.Application.createLevel1(gameContext.airport.code)" method="POST" class="form-inline">
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>

}