@(title: String)(level:Int, restartRoute:Option[play.api.mvc.Call]=None)(airport:Option[fr.xebia.xke.akka.airport.Airport])(content: Html)
<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/introjs.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">


            @airport match{
                case Some(selectedAirport) =>  {
                    <div class="brand dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Level <span class="badge">@level</a></span>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <form action="@routes.Application.createLevel0(selectedAirport.code)" method="POST" >
                                    <button type="submit" class="btn btn-link">Level 0, a piece of cake.</button>
                                </form>
                            </li>
                            <li>
                                <form action="@routes.Application.createLevel1(selectedAirport.code)" method="POST" >
                                    <button type="submit" class="btn btn-link">Level 1, more runways.</button>
                                </form>
                            </li>
                            <li>
                                <form action="@routes.Application.createLevel2(selectedAirport.code)" method="POST" >
                                    <button type="submit" class="btn btn-link">Level 2, dawn radio (delivery reliability).</button>
                                </form>
                            </li>
                            <li>
                                <form action="@routes.Application.createLevel3(selectedAirport.code)" method="POST" >
                                    <button type="submit" class="btn btn-link">Level 3, chaos monkey (Event sourcing).</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }

                case None => {}


            }


            <div class="brand">@airport.map(airport => airport.code + ": " + airport.city).getOrElse("Devoxx International Airport")</div>
            <ul class="nav">
                <li><a href="@routes.Application.displayRegisterPage()" target="_blank">Get a new airport</a></li>


                @restartRoute match {
                    case Some(route) =>{
                       <li>
                        <form action="@route" method="POST" >
                            <button type="submit" class="btn btn-link">Restart</button>
                        </form>
                       </li>
                    }
                    case _ =>{}
                }

            </ul>
            <div class="brand" id="playerAddress"></div>
        </div>
    </div>
</div>
<script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/bootstrap.js" type="text/javascript"></script>
<script src="/assets/javascripts/intro.js" type="text/javascript"></script>
<div>
    @content
</div>
</body>
</html>