@(hostName:controllers.HostName)(message:Option[String])

@main("XKE Akka slot")(0)(None){

<div class="container">
    <div class="info">
        Welcome! Please register with an email to be assigned a free aiport to manage and start the game.
    </div>

    <div class="warn">
        @message
    </div>

    <form action="@routes.Application.register" method="POST" class="form-inline">
        <input type="email" placeholder="Email" name="email" id="email">
        <button type="submit" class="btn">Sign in</button>
    </form>
</div>

}
