@(hostName:controllers.HostName)(message:Option[String])

@main("XKE Akka slot")(0){

<div class="container">
    <div class="info">
        @message
    </div>

    <div class="hero">
        Hello <strong>@hostName.value</strong>. Check that your client config <strong>akka.netty.tcp.hostname="@hostName.value"</strong> before start playing!
    </div>

    <form action="@routes.Application.register" method="POST" class="form-inline">
        <input type="email" placeholder="Email" name="email" id="email">
        <button type="submit" class="btn">Sign in</button>
    </form>
</div>

}
