.strip{
    width: 210px;
    min-height: 50px;
    border: 1px solid #d4d4d4;
}

.regular{
    background-color: rgba(255, 238, 0, 0.1);
}

.error{
    background-color: rgba(255, 0, 0, 0.4);
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}

li > .id {
    font-family: monospace;
    font-weight: bold;
}

li > .detail {
    font-style: italic;
}

li > p {
    margin: 0 0 0px;
}

body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

table > thead tr .header {
    min-width: 210px;
}

.popover-content{
   font-weight: lighter;
}