@(strategy: controllers.GameStrategy)(level:Int, nextLevel: Option[Int])

@stepClass(step:String) =@{
if(strategy.activeSteps.contains(step)) "active" else "inactive"
}

@main("XKE Akka slot")(level) {

    <div id="score">
        <h1 style="text-align: right;">Score <p id="counter"></p></h1>
        <div class="progress progress-success progress-striped">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>

    <table id='strips'>
        <thead>
            <tr>
                <th class="header active">
                    <a href="#" data-toggle="popover" title="Incoming"
                       data-content="@strategy.settings.planeGenerationInterval millis between each plane and @strategy.settings.outOfKerozenTimeout millis before a plane beiing out of kerozen">Incoming</a>
                </th>
                <th class="header @stepClass("Runway") ">
                    <a href="#" data-toggle="popover" title="Runway"
                       data-content="@strategy.settings.nrOfRunways runways with @strategy.settings.landingMaxDuration  millis max to land">Runway</a>
                </th>
                <th class="header @stepClass("Taxiway") ">
                    <a href="#" data-toggle="popover" title="Taxiway"
                       data-content="@strategy.settings.nrOfTaxiways taxiways with a capacity of @strategy.settings.taxiwayCapacity planes and @strategy.settings.taxiingDuration millis max to taxi">Taxiway</a>
                </th>
                <th class="header @stepClass("Gate") ">
                    <a href="#" data-toggle="popover" title="Gate"
                       data-content="@strategy.settings.nrOfGates gates and @strategy.settings.unloadingPassengersMaxDuration millis to unload passengers">Gate</a>
                </th>

                <th class="header">Done</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="modal hide fade" id="GameOver">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Xebia International Airport</h3>
        </div>
        <div class="modal-body">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTWy_nDEGPAkcXKSwy85J0fw90r_QxDBQzzBZSIb6JEtjUCbi_v" class="img-polaroid">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="@routes.Application.newGame(level)" class="btn btn-primary">Try again</a>
        </div>
    </div>

    <div class="modal hide fade" id="GameEnded">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Xebia International Airport</h3>
        </div>
        <div class="modal-body">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTqpTcRmT_eRzP2oH-ClUTgoy2MdBsZzygCKvKq1xpIW3J8T51u" class="img-polaroid">

            @if(nextLevel.isDefined){
                <p>Well done!</p>
            }else{
                <p>You mastered the game! Congratulation!!!!</p>
            }

        </div>
        <div class="modal-footer">
            @if(nextLevel.isDefined){
                <a href="@routes.Application.newGame(nextLevel.get)" class="btn btn-primary">Next</a>
            }else{
                <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
            }

        </div>
    </div>

    <script src="/assets/javascripts/game.js" type="text/javascript"></script>

    }
