@( gameContext: fr.xebia.xke.akka.game.GameContext)(implicit request: RequestHeader)

@game(3,gameContext,routes.Application.createLevel3(gameContext.airport.code)){

<table id='strips'>
    <thead>
    <tr>
        <th class="header active">
            <a href="#"
               title="Incoming"
               data-toggle="popover"
               data-content="@gameContext.settings.planeGenerationInterval millis between each plane and @gameContext.settings.outOfKerozenTimeout millis before a plane beiing out of kerozen"
               data-intro='Now radio communication with planes is fuzzy. Some orders may not be received by planes. Controllers should received <b>Ack</b> messages after each order. They <b>should repeat</b> the message until successfully received. You should use the pattern Actor per request.'
               data-step='1'>Incoming</a>
        </th>
        <th class="header active">
            <a href="#"
               title="Runway"
               data-toggle="popover"
               data-content="@gameContext.settings.nrOfRunways runways with @gameContext.settings.landingMaxDuration  millis max to land">Runway</a>
        </th>
        <th class="header inactive">Taxiway</th>
        <th class="header inactive ">Gate</th>
        <th class="header">Done</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="modal hide fade" id="GameOver">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="/assets/images/haha.jpeg"
             class="img-polaroid">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <form action="@routes.Application.createLevel3(gameContext.airport.code)" method="POST" class="form-inline">
            <button type="submit" class="btn btn-primary">Retry</button>
        </form>
    </div>
</div>
<div class="modal hide fade" id="GameEnded">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Xebia International Airport</h3>
    </div>
    <div class="modal-body">
        <img src="/assets/images/hellyeah.jpeg" class="img-polaroid">

        <p>Well done!</p>

    </div>
    <div class="modal-footer">
        <form action="@routes.Application.createLevel4(gameContext.airport.code)" method="POST" class="form-inline">
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>

}